{% extends "base.html" %}
{% block title %}Create Room{% endblock title %}
{% block content %}
<div class="container flex items-center mx-auto justify-center">
    <form class="p-5 my-10 xl:1/4 lg:w-5/12 md:w-1/2 border border-gray-400 flex flex-col items-center" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
           {% for field in form %}
           <span class="flex justify-start w-full">{{field.label}}
            {% if field.errors %}
            <span class="text-red-500 flex justify-start w-1/2 ml-5">{{field.errors}}</span>
            {% endif %}
           </span>
           <div class="w-full border border-gray-600 p-5 rounded-md block text-left text-xl font-light mb-10 {% if field.errors %}border-red-600{% endif %}">
               {{field}}
           </div>
           {% endfor %}
        <button class="w-full border py-5 rounded-md block text-center text-xl font-light mt-5 mb-2 bg-red-500 text-white"> Create Room </button>
    </form>
</div>
{% endblock content %}


