{% extends "base.html" %}
{% block title %} Change Password {% endblock title %}
{% block content %}
<div class="container flex items-center mx-auto justify-center">
    <form class="p-5 my-10 xl:1/4 lg:w-5/12 md:w-1/2 border border-gray-400 flex flex-col items-center" method="POST">
        {% csrf_token %}
           {% for field in form %}
           <div class="login_box w-full">
               {{field}}
           </div>
           {% if field.errors %}
           <span class="text-red-700 text-sm font-semibold flex justify-start w-full">{{field.errors}}</span>
           {% endif %}
           {% endfor %}
        <button class="w-full border py-5 rounded-md block text-center text-xl font-light mt-5 mb-2 bg-red-500 text-white"> Change Password </button>
    </form>
</div>
{% endblock content %}

 